/* .outer{
    background-color:  #202060;;
} */


nav{
    background-color: transparent;  
}

#nav-brand{
    padding-left: 2rem;
    padding-right: 1rem;
}

/* button{
    background-color: burlywood;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
} */